<% if @saved %>
$("#errorExplanation").remove()
$("#success_issue_created").remove()
$("#content").prepend('<div id="success_issue_created" class="flash notice">Utworzono nowe zadanie.</div>');
setTimeout(function(){ $("#success_issue_created").fadeOut() }, 2000);
clear_form_fields();
refresh_issues_list();
<% else %>
	$("#errorExplanation").remove()
	$("#content").prepend("<%= @error_messages %>");
	setTimeout(function(){ $("#errorExplanation").fadeOut() }, 2000);
<% end %>