<table>
  <tbody>
    <tr>
      <th><%= l(:label_project_default_users) %></th>
      <td>
        <%= text_area(:settings, :default_users, value: settings[:default_users]) %>
      </td>
    </tr>
  </tbody>
</table>