#toast {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, .5);
  text-align: center;
  
  > div {
    position: absolute;
    top: 50%;
    display: inline-block;
    max-width: 50%;
    padding: 1em 2em;
    border: 1px solid #eee;
    background: #fff;
    color: #333;
    border-radius: .5em;

    &.alert {
      border: 1px solid #d00;
      background: #fee;
      color: #800;
    }

    &.notice {
      border: 1px solid #dfffdf;
      background: #9fcf9f;
      color: #005f00;
    }
  }
}

table.issues {

  tr {
    td {
      &.actions,
      &.subject {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }


    }
  }
}

.status-icon {
  display: inline-block;
  vertical-align: middle;
  background: url('../images/status-icons.png');
  width: 17px;
  height: 25px;
  overflow: hidden;
  text-indent: 9999px;

  &.status-1 { background-position: 0px 0px; }
  &.status-2 { background-position: -17px 0px; }
  &.status-3 { background-position: -34px 0px; }
  &.status-4 { background-position: -51px 0px; }
  &.clip { background-position: -68px 0px; }
  &.start-time { background-position: -102px 0px; }
  &.stop-time { background-position: -115px 0px; }
}

ul#legend {
  list-style: none;
  padding-left: 0;

  li {
    .status-icon {
      margin-right: .5em;
    }
  }  
}
