#toast {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, .5);
  text-align: center;
  z-index: 100;

  > div {
    position: absolute;
    top: 50%;
    display: inline-block;
    max-width: 50%;
    padding: 1em 2em;
    border: 1px solid #eee;
    background: #fff;
    color: #333;
    border-radius: .5em;

    &.alert {
      border: 1px solid #d00;
      background: #fee;
      color: #800;
    }

    &.notice {
      border: 1px solid #dfffdf;
      background: #9fcf9f;
      color: #005f00;
    }
  }
}

body .ui-tooltip {
  box-shadow: 1px 1px 0 #ddd;
  border: 1px solid #888;
  background: #fff;
  border-radius: 0;
  word-wrap: break-word;
}

form.home-filter {
  display: block;
  margin: .5em 0 1.5em 0;

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

h2 > .status-icon {
  margin-right: .5em;
}

h2#new-issue {
  cursor: pointer;

  & + div {
    display: none;
    padding: 1px 0;
  }
}

form.home-new-issue-form {
  label {
    width: 14em;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
    font-size: .9em;
  }

  input {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #ddd;
    &#issue_subject {
      width: 50%;
    }
  }

  select {
    min-width: 12em;
  }

  textarea {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #ddd;
    vertical-align: top;
    max-width: 50%;
  }


}

table.issues {

  tr {
    td {
      vertical-align: middle;

      &.actions,
      &.subject {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.subject {
        .status-icon {
          margin-right: .5em;
          vertical-align: middle;
        }
      }

      &.actions {
        text-align: left;

        > * {
          display: inline-block;
          vertical-align: middle;
          margin-right: .5em;
          min-height: 15px;
          &:last-child {
            margin-right: 0;
          }
        }

        > span > * {
          display: inline-block;
          vertical-align: middle;
        }

        input[type=text] {
          border: 1px solid #888;
          width: 3em;
          line-height: 1.6em;
          padding: 0 .2em;
          text-align: center;
        }
      }




    }

    &.closed {
      td {
        text-decoration: line-through;
      }
    }
  }
}

.status-icon {
  display: inline-block;
  vertical-align: middle;
  background: url('../images/status-icons.png');
  width: 17px;
  height: 25px;
  overflow: hidden;
  text-indent: 9999px;

  &.status-1, &.status-new { background-position: 0px 0px; }
  &.status-2, &.status-progress { background-position: -17px 0px; }
  &.status-3, &.status-resolved { background-position: -34px 0px; }
  &.status-4, &.status-feedback { background-position: -51px 0px; }
  &.clip { background-position: -68px 0px; }
  &.stop-time { background-position: -102px 0px; }
  &.start-time { background-position: -115px 0px; }
  &.poke {
    width: 22px;
    background: url('../images/poke.png');
  }
  &.edit {
    width: 22px;
    background: url('../images/poke.png');
  }

  &.status-none {
    width: 0;
    display: none;
  }
}

ul#legend {
  list-style: none;
  padding-left: 0;
  background: #fff;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;

  li {
    .status-icon {
      margin-right: .5em;
    }
  }
}

#content {

  #toggle-sidebar {
    position: relative;
    top: -6px;
    right: -11px;
    float: right;
    display: block;
    width: 2em;
    height: 2em;
    background: #eee;
    border: 1px solid #ddd;
    border-right: 0;
    color: #888;
    line-height: 2em;
    text-align: center;
    text-decoration: none;

    &:focus, &:hover {
      box-shadow: -1px 1px 1px #eee;
    }

    &:before {
      content: '»';
    }
  }
}

#main.nosidebar #content #toggle-sidebar {
  &:before {
    content: '«';
  }
}
